@import url("https://fonts.google.com/specimen/Raleway");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(218, 28%, 13%);
}

h1,
h2 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsla(0, 0%, 100%, 0.705);
}

.navi {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  gap: 50px;
  margin-right: 50px;
  font-family: Raleway;
  color: hsl(0, 0%, 100%);
}

.nav-items a {
  color: hsla(0, 0%, 100%, 0.705);
  text-decoration: none;
  font-weight: 400;
}

.nav-items a:hover {
  color: white;
  text-decoration: underline;
}

/* .nav-item:link,
.nav-item:visited {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: inline-block;
} */

.started-btn {
  /* background-color: aqua; */
  background-image: linear-gradient(aqua, rgba(27, 114, 114, 0.904));
  padding: 10px 70px;
  border-radius: 20px;
  color: white;
  border: none;
  font-family: Raleway;
  margin-top: 10px;
  font-weight: 700;
}

.started-btn:hover {
  background-image: linear-gradient(aqua, rgba(82, 238, 238, 0.904));
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
}

.heading-info {
  text-align: center;
  width: 500px;
  line-height: 1.5;
}

.feature-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 85px;
  margin-bottom: 130px;
  column-gap: 200px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature h2 {
  margin-bottom: 10px;
}

.feature p {
  width: 310px;
  text-align: center;
  margin-top: 0px;
}

.feature-access,
.feature-collab {
  justify-self: flex-end;
}

.feature-security,
.feature-storage {
  justify-self: flex-start;
}
